{:paths   ["src" "test"],

 :deps    {org.clojure/clojure         {:mvn/version "1.11.1"},
           org.clojure/clojurescript   {:mvn/version "1.11.57"},
           org.clojure/core.async      {:mvn/version "1.5.640"},
           solana-clj/solana-clj       {:local/root "../solana-clj"},
           com.taoensso/timbre         {:mvn/version "5.2.1"},
           com.cognitect/transit-clj   {:mvn/version "1.0.324"},
           com.cognitect/transit-cljs  {:mvn/version "0.8.269"},
           com.taoensso/sente          {:mvn/version "1.16.2"},
           org.clojure/spec.alpha      {:mvn/version "0.2.194"},
           ring-transit/ring-transit   {:mvn/version "0.1.6"},
           ring/ring-core              {:mvn/version "1.9.0"},
           ring/ring-defaults          {:mvn/version "0.3.2"},
           mount/mount                 {:mvn/version "0.1.16"},
           metosin/reitit              {:mvn/version "0.5.13"},
           thheller/shadow-cljs        {:mvn/version "2.19.2"},
           ring-cors/ring-cors         {:mvn/version "0.1.13"},
           pjstadig/humane-test-output {:mvn/version "0.11.0"}},

 :aliases {:cljs {:jvm-opts ["--add-opens" "java.base/jdk.internal.misc=ALL-UNNAMED"
                             "-XX:-OmitStackTraceInFastThrow"
                             "-XX:+TieredCompilation"
                             "-XX:TieredStopAtLevel=1"
                             "-Dio.netty.tryReflectionSetAccessible=true"
                             "-Dorg.slf4j.simpleLogger.defaultLogLevel=debug"
                             "-Xmx1G"]}}}
